.butt{
	font: 30px Arial;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-top: 17%;
	margin-left: 38%;
	width: 25%;	
	border-color: white;
	color:white;
}
#b{
	border-style: solid;

}
a:link, a:visited{
	font-style: none;
	color:white;
}
a:hover{
	color: grey;
}
#map{
	width: 350px;
	height: 350px;
}